<br ng-class="{'hidden-xs':isMobile}"/>
<br ng-class="{'hidden-xs':isMobile}"/>
<div class="panel panel-default" ng-class="{'hidden-xs':isMobile}">
    <div class="panel-body">
        <h1 class="text-center" translate>Design your own T-shirt</h1>
        <h3 class="text-center" translate>To get started, choose an option below</h3>

        <br />
        <br />
        <div class="list-group">
            <a ui-sref="app.images.home" class="list-group-item">
                <div class="row">
                    <div class="pull-left">
                        <i class="fa fa-camera"></i>
                    </div>
                    <div class="pull-left">
                        <h4 class="list-group-item-heading" translate>Add Images</h4>
                        <p class="list-group-item-text" translate>Choose from ours or upload your own</p>
                    </div>
                </div>
            </a>
            <a ui-sref="app.text.add" class="list-group-item">
                 <div class="row">
                    <div class="pull-left">
                        <i class="fa fa-font"></i>
                    </div>
                    <div class="pull-left">
                        <h4 class="list-group-item-heading" translate>Add Text</h4>
                        <p class="list-group-item-text" translate>Choose from over 50 different fonts</p>
                    </div>
                </div>

            </a>
            <a ui-sref="app.product.home" class="list-group-item">
                <div class="row">
                    <div class="pull-left">
                        <i class="fa fa-scissors"></i>
                    </div>
                    <div class="pull-left">
                        <h4 class="list-group-item-heading" translate>Select a different product</h4>
                        <p class="list-group-item-text" translate>Swap colors or browse our catalog</p>
                    </div>
                </div>
            </a>

        </div>
        <br /><br />

    </div>





</div>