<div class="panel panel-default">
  <div class="panel-body">
	<div class="row">
		<div class="col-md-12">
            <div class="row font-category-selector">
                <div class="col-xs-8">
			         <h3 style="margin-top: 10px;" translate>Select a graphic</h3>
                </div>                
                <div class="col-xs-4">
                    
                    <!-- Single button -->
                    <div class="btn-group  pull-right">
                      <button type="button" class="btn btn-default dropdown-toggle btn-categories" data-toggle="dropdown">
                        {{selectedCategory}} &nbsp;<span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu  pull-right dropdown-clipart" role="menu">
                        <li>
                        <div class="row font-category-selector">
                            <div class="col-xs-4" ng-repeat="category in categories">
                                <a href="" ng-click="setCategory(category)" ng-class="{selected: category == selectedCategory}">{{category}}</a>
                            </div>
                        </div>  
                        </li>
                      </ul>
                    </div>

                </div>
            </div>
            <div class="row font-category-selector" style="display: none;">
                <div class="col-xs-4" ng-repeat="category in categories">
                    <a href="" ng-click="setCategory(category)" ng-class="{selected: category == selectedCategory}">{{category}}</a>
                </div>
            </div>
            <hr />
            
            <perfect-scrollbar class="scroller" wheel-propagation="true" wheel-speed="50" suppress-scroll-x="true" refresh-on-change="selectedCategory">
                <div class="row clipArt-selector">
                    <div class="col-xs-3 clipArt-thumbnail" ng-repeat="img in _.where(clipArt, {category: selectedCategory})">
                        <a href="">
                             <img ng-click="addClipart(img)" ng-src="{{clipArtImage(img)}}" />
                            
                        </a>
                    </div>
                </div>
            </perfect-scrollbar>
            

		</div>		
	</div>	
	<br />

      
	</div>
</div>