<br class="hidden-xs"/>
<br class="hidden-xs"/>

	<div class="panel panel-default">
  <div class="panel-body">
    <h1 class="text-center" translate>Add an image to your design</h1>
    <h3 class="text-center" translate>Browse our clipart or upload your own</h3>
	
	
	
	
	
	
	<br />
	<br />
	<div class="list-group">
	
		<a ui-sref="app.images.clip-art" class="list-group-item">
		<h4 class="list-group-item-heading" translate>Clip Art</h4>
		<p class="list-group-item-text" translate>Choose from our library of graphics</p>
	  </a>
		<a ui-sref="app.images.upload" class="list-group-item">
		<h4 class="list-group-item-heading" translate>Upload image</h4>
		<p class="list-group-item-text" translate>Upload your own photos or logos</p>
	  </a>
		<a ui-sref="app.images.my-images" class="list-group-item">
		<h4 class="list-group-item-heading" translate>My images</h4>
		<p class="list-group-item-text" translate>Select one your uploaded images</p>
	  </a>

	</div>
  <br /><br />

  </div>
  
  
  
  
  
</div>
